.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  /* max-width: 1280px; */
  margin: 0 auto;
  background-color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
  padding: 0.5%;
}

.header-logo {
  max-height: 85px;
  cursor: pointer;
}

.header-buttons-wrapper {
  display: flex;
  align-items: center;
}

.nav-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav-bar li {
  display: inline-block;
}

@media (max-width: 1024px) {
  .header-content {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

@media (max-width: 768px) {
  .header-content {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}