.main-content {
  margin-top: 10%;
}

h1.login-title {
  font-size: 2rem;
  color: #2F4858;
}

h1.landing-page-title {
  padding: 10px;
  font-size: 2rem;
  color: #2F4858;
}

section#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

section#login-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label.input-label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #2F4858;
}

input.email-input[type="email"]:-webkit-autofill,
input.email-input[type="email"]:-webkit-autofill:hover,
input.email-input[type="email"]:-webkit-autofill:focus,
input.email-input[type="email"]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input.name-input[type="text"]:-webkit-autofill,
input.name-input[type="text"]:-webkit-autofill:hover,
input.name-input[type="text"]:-webkit-autofill:focus,
input.name-input[type="text"]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input.password-input[type="password"]:-webkit-autofill,
input.password-input[type="password"]:-webkit-autofill:hover,
input.password-input[type="password"]:-webkit-autofill:focus,
input.password-input[type="password"]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


input.email-input[type="email"],
input.name-input[type="text"],
input.password-input[type="password"] {
  width: 80vw;
  max-width: 750px;
  height: 45px;
  margin-bottom: 1rem;
  padding: 0 1rem;
  border: 2px solid #61A94D;
  border-radius: 5px;
  font-size: 16px;
  color: #2F4858;
}

button.login-submit-button[type="submit"] {
  width: 80vw;
  max-width: 750px;
  height: 45px;
  background-color: #61A94D;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.2s ease-in-out;
}

button.login-submit-button[type="submit"]:hover {
  background-color: #00956B;
}

button.login-submit-button[type="submit"]:focus {
  background-color: #00956B;
  border: 2px solid #61A94D;
}

button.login-submit-button[type="submit"]:disabled {
  background-color: #ccc;
  opacity: 0.5;
  cursor: not-allowed;
}

.link {
  color: #61A94D;
  border-radius: 2.5px;
}

.link:hover {
  opacity: 0.75;
  color: #00956B;
}

input:focus {
  outline: none !important;
  border: 1px solid #00956B;
  box-shadow: 0 0 10px #006272;
}

button:focus {
  outline: none !important;
  border: 1px solid #00956B;
}

.image-container {
  width: 100vw; 
  height: 787px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contained-image {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  opacity: 0.95;
}

.block-container {
  background-color: rgba(97, 169, 77, 0.95);
  height: 35vh;
}