#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  max-height: 100vh;
  --toastify-color-light: #FFFFFF;
  --toastify-icon-color-success: #2F4858;
  --toastify-icon-color-error: #FF3B61;
  --toastify-color-progress-error: #FF3B61;
  --toastify-color-progress-success: linear-gradient(to right, #61A94D, #2F4858);
  --toastify-color-progress-light: linear-gradient(to right, #61A94D, #2F4858);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}